* {
  box-sizing: border-box;
  margin: 0;
}


body {
  background: rgba(255, 255, 255, 0.863);
  font-family: 'Quattrocento', serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.863);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(138, 138, 138);
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.863);
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

a:hover, button:hover {
  /* font-size: 1.8em; */
    text-shadow: 0 0 5px rgb(176 176 206);
    box-shadow: none;
}

a:focus {
  text-shadow: 0 0 5px rgb(176 176 206);
}

button:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

a:visited {
  color: rgb(44, 43, 43);
}

p {
  max-width: 800px;
}

hr {
  border-style: groove;
  border-width: 1px
}

.hidden {
  display: none;
}

.menuLink {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.menuLink:hover {
  font-size: 1.4em;
}

.moveWrapper {
  margin-top: 100px;
}

.navBanner {
  color: rgba(192, 192, 192, 0.726);
  position: relative;
  justify-content: center;
  top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  padding: 20px; 
}

.navDiv {
  position: fixed;
  top: 0;
  display: flex;
  height: 60px;
  width: 100%;
  transition-duration: 1000ms;
  background: #ffffffcf;
  box-shadow: 2px 0 5px #484747c2 inset;
}

.navMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #eeecece6; */
  left: 0;
  height: 60px;
  width: 100%;
  top: 0px;
  transition-duration: 1000ms;
  padding: 20px;
 
}

.menu-selection-offset {
  height: 30%;
  display: none;
}

.burger-houser {
  background: #ffffffba;
  position: fixed;
  right: 0;
  top: 0;
  width: 70px; 
  height: 70px; 
  display: none; 
  flex-direction: column; 
  justify-content: space-around;
  border-radius: 50%;
  z-index: 2;
  margin-top: 10px;
}

.houser-input {
  background: none;
  position: fixed;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
}

.houser-input:active {
  outline: none;
}

.burger-patty {
  border: none;
  background: unset;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 1200ms;
}

.openNav {
  border-radius: 4%;
  background: none;
}

.patty-one {
  border-bottom: solid 8px rgba(4, 106, 153);
}

.patty-two {
  border-top: solid 8px rgba(4, 106, 153);
}

.patty-x-one {
  position: relative;
  border-radius: 4%;
  top: 12%;
  left: 15%;
  transform: rotate(45deg);
}

.patty-x-two {
  position: relative;
  border-radius: 4%;
  top: -12%;
  left: 15%;
  transform: rotate(-45deg)
}

.menu-label {
  text-align: center;
 
}

.navLink {
  width: 20%;
  font-size: 1.5em;
  transition-duration: 500ms;
  color: black;
  text-align: center;
}

.navLink:hover {
  text-decoration: underline;
}

li {
  border-bottom: solid 1px silver;
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  color: white;
  font-size: 2.4em !important;
  letter-spacing: 14px;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.687);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin-top: 0;
}

.nameToggleLast {
  display: none;
}

.nameToggleInitial {
  display: none;
}

/******************************************************************************************************/

.navTab {
  border-radius: 12%;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.721);
  display: flex;
 justify-content: space-around;
 transform: rotate(45deg);
  transition-duration: 500ms;
}

.navTab:hover {
  background: white;
  transform: rotate(-45deg);
}

.navTab:hover > .burger-line {
  background: rgba(0, 0, 0, 0.721);
}

.navTabLabel {
  margin-top: 4px;
  display: none;
}


.tabCover:hover > .navTabLabel {
  display: block;
}

/******************************************************************************************************/



.bio-section {
  display: flex;
  flex-direction: column;
  line-height: 400%;
  padding: 20px;
  align-items: center;
  margin-top: 0;
}

.role-title {
  font-size: 1.2em;
  text-align: center;
}

.role-title-based {
  text-align: center;
}


.bio {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
 
  border-top: solid 1px silver;
  margin-bottom: 80px;
  padding: 20px 0;
}

.bio h1 {
  font-size: 3em;
}

.bioIntro {
  width: 30%;
}

.bio-text-wh-shown {
  margin-left: unset;
}

.break {
  display: none;
}

.about-header {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

.aboutMe {
  font-size: 1em;
  line-height: 200%;
  max-width: 800px;
}

.disclaimer {
  font-weight: 700;
  color: #5d0909;
}

.work-history {
  max-width: 800px;
  display: none;
  animation: opacity 1s forwards;
}

.work-history-empty {
  display:none;
}

.wh-open {
  display: unset;
}

.wh-open:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

.wh-open-button {
  background-color: rgb(225 225 225);
}

.company {
  text-decoration: underline;
}

.responsibilities-list {
  list-style-type: circle;
}

li.responsibilities-list-item {
  display: list-item;
  border-bottom: none;
}

.work-history-toggle-wrapper {
  display: flex;
}

button.toggle-full {
  width: 180px;
  border-radius: 12px;
  padding: 5px;
  margin-top: 20px;
}


.bio-divide {
  width: 90%;
  margin-bottom: 40px;
}

/******************************************************************************************************/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  font-size: 1.2em;
  height: 250px;
}

.contact-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 70%;
}

.contactLink {
  color: black;
  font-size: 1em;
  font-weight: 700;
  display: unset;
  border: none;
  background: none;
}

.listingCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 15px black;
  margin: 8px;
  height: 80px;
  width: 62%;
  min-width: 200px;
}

.email-text {
  display: unset;
  outline: none;
}

.email-button {
  box-shadow: none;
}

.contact-banner {
  font-size: 2em;
}

.name {
  font-weight: 100;
  margin-top: 0;
}

/******************************************************************************************************/


.project-header {
  font-size: 40px;
  margin-bottom: 40px;
}

.projectsWrapper { 
  height: unset;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  line-height: 250%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.projectCard {
  width: 90%;
  display: flex;
  justify-content: space-around;
  transition-duration: 500ms;
  margin-bottom: 100px;
}

.projectCard-last {
  margin-bottom: 40px;
}

.linksDiv {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 14px 14px 14px 0px;
}

.link {
  border-radius: 8px;
  padding: 4px 20px 4px 20px;
  box-shadow: 0 0 15px silver;
  transition-duration: 500ms;
  margin: 10px;
  color: black;
  max-width: 800px
}

.link:hover, .link:focus {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

.link:visited {
  color: rgb(44, 43, 43);
}

.mtb-img {
  max-height: 500px;
  max-width: 400px;
}

.screenshot-dance {
  max-height: 400px;
  max-width: 600px;
}

.graphics {
  max-width: 400px;
  max-height: 235px;
}

.rsvp-img {
  max-height: 500px;
  max-width: 500px;
}



.details-toggle {
  border: none;
  display: flex;
  padding-bottom: 0;
  margin-left: 30%;
}

.details-toggle-about {
  justify-content: center;
  margin-left: unset;
  margin-bottom: 20px;
}

.details-toggle-radio {
  display: none;
}


.detail-section-show {
  animation: opacity 2s both;
  display: block;
}

.detail-section-hide {
  animation: opacity 2s forwards;
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} 

/* create onHover, change div color when selected */

.details-toggle-radio-wrapper {
  border: 1px solid silver;
  width: 60px;
  text-align: center;
  padding: 0 5px;
  transition-duration: 500ms;
}

.toggle-left {
  border-radius: 12px 0 0 12px;
}

.toggle-right {
  border-radius: 0 12px 12px 0;
}

.details-toggle-radio-wrapper:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

.detail-selected {
  background-color: rgb(225 225 225);
  /* border-radius: 12px 12px 0 0; */
}

@keyframes background-color {
  0% {
    background-color: 0;
  }
  50% {
    background-color: 0.5;
  }
  100% {
    background-color: 1;
  }
} 

/******************************************************************************************************/

.ebox-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /*rgba(0, 0, 0, 0.5)*/
  z-index: 2;
  overflow: scroll;
  padding-bottom: 20px;
  overflow: auto;
}

.email-field {
  border: none;
}

.email-screen {
  width: 100%;
  height: 100%;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
 
}

.form-input {
  background: white;
  color: black;
  height: 60px;
  width: 600px;
  font-size: 1em;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
 
}

.input-validation {
  height: 60px;
}

.input-validation-message {
  color: #787c80;
  width: 500px;
  height: 40px;
  background: #fefe97;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.format-note-link, .format-note-link:visited {
  color: silver;
}

.email-format-characters {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

*:focus {
  text-decoration: underline;
  /* text-shadow: 0 0 5px rgb(176 176 206);
  box-shadow: none; */
}

.fieldset-style {
  display: flex;
  flex-direction: column;
  color: silver;
  font-size: 1.4em;
  align-items: center;
  padding-top: 20px;
}

.fieldset-legend {
  width: 600px;
 
}

.form-control {
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.form-button {
  color: black;
  margin-top: 40px;
  width:  280px;
  padding-top: 15px;
}

.form-button:disabled {
  color: silver;
}

.message-body {
  height: 100px;
  resize: both;
}


.error {
  border: 2px solid red;
  box-shadow: 0 0 15px red;
}

.message-response {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-box {
  width: 70%;
  height: 60%;
  border-radius: 4px;
  padding: 25px;
  background: #ffffffd9;
  box-shadow: 0 0 15px rgb(143, 0, 0);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.response-return {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: flex-end;
}

.message-box-inner-wrapper {
  height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response-burger {
  position: relative;
  right: 0;
  top: 0;
  width: 70px; 
  height: 70px; 
  flex-direction: column; 
  justify-content: space-around;
  border-radius: 50%;
  z-index: 2;
}

.response-patty {
  border: solid 1px rgb(4, 106, 153);
  background: rgb(4, 106, 153);
  border-radius: 4px;
  height: 8px;
  z-index: 2;
  position: relative;
  transition-duration: 1200ms; 
}

.response-patty-one {
  top: 42%;
  transform: rotate(45deg);
}

.response-patty-two {
  top: 32%;
  transform: rotate(-45deg);
}

.response-burger:hover .response-patty-one, .response-burger:hover .response-patty-two {
  top: unset;
  left: unset;
  transform: none;
  border: none;
  background: unset;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
}

.response-burger:hover .response-patty-one {
  border-bottom: solid 8px rgba(4, 106, 153);
}

.response-burger:hover .response-patty-two {
  border-top: solid 8px rgba(4, 106, 153);
}

.mail-status-button {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  position: absolute;
  border: none;
  background: none;
  z-index:  3;
}

/******************************************************************************************************/

@media only screen and (max-width: 1300px) {
  p, .link {
    max-width: 500px;
  }

  .responsibilities-list-item {
    max-width: 500px;
    font-size: .8em;
  }

  .bio-text-wh-shown {
    margin-left: 20px;
  }
  
}

@media only screen and (max-width: 1200px) {

  .navMenu {
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 1000px) {

  .project-wrapper {
    flex-direction: column;
  }

  .rsvp {
    flex-direction: column-reverse;
  }

  .details-toggle {
    margin-left: 100px;
  }

  .details-toggle-about {
    margin-left: unset;
  }
  
  
}


@media only screen and (max-width: 800px) {
  .name {
    text-align: center;
  }

  .nameLength {
      display: none;
  }

  
  .form-control {
    justify-content: space-around;
    width: 500px;
  }
  
  .aboutMe {
    font-size: 1em;
    line-height: 200%;
    max-width: 400px;
  }

  .bio-text-wh-shown {
    margin-left: unset;
  }

}

@media only screen and (max-width: 730px) {

  .bioIntro {
    width: 40%;
  }
  
  .projectCard-last {
    margin-bottom: 20px;
  }

  .contact {
    height: 330px;
  }

  .contact-list {
    flex-direction: column;
    padding: 10px 0;
  }

}


@media only screen and (max-width: 700px) {

  .form-input, .input-validation-message, .fieldset-legend {
    width: 500px;
  }

   /* {
    width: 500px;
  }

  .form-button {
    width: 200px;
  } */

}

@media only screen and (max-width: 650px) {

  .fullMenu { 
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    height: 100%;
    width: 90%;
    top: unset;
    align-items: center;
    justify-content: center;
    transition-duration: 1000/******************************************************************************************************/ms;
  }

  .mtb-img {
    width: 100%;
  }

  .rsvp-img {
    width: 100%;
  }

  /* .role-title-based {
    display: none;
  } */
 
}

@media only screen and (max-width: 600px) {

  .navMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /*rgba(0, 0, 0, 0.5)*/
  z-index: 1;
  overflow: scroll;
  padding-bottom: 20px;
  flex-direction: column;
  /* overflow: auto; */
  }

  .navLink {
    color: white;
  }

  .navLink:visited {
    color: white;
  }
  
  .navDiv {
    height: 0px;
  }

  .navLink {
    width: 100px;
    text-align: unset;
  }

  .menu-selection-offset {
    display: block;
  }
  
  .header {
    height: 60px;
  }

  
  .burger-houser {
    display: flex; 
  }

  /* .name {
    font-size: 1.1em;
} */

.break {
  display: inline;
}

}

@media only screen and (max-width: 550px) {

  .form-control {
    flex-direction: column;
  }
  
  .name {
    font-size: 1.1em;
  }

  .bioIntro {
     width: 60%;
  }

  .message-box {
    padding-top: 0;
    padding-right: 0;
  }

  .response-burger {
    width: 40px;
    height: 40px;
  }

  .response-patty-two {
    top: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .form-input, .input-validation-message {
    width: 300px;
    font-size: .8em;
  }

  .fieldset-legend {
    width: 300px;
    margin: 10px;
  }

}

@media only screen and (max-width: 500px) {

  .fieldset-style {
    padding-top: unset;
  }

  .bioIntro {
    width: 100%;
    text-align: center;
  }

  .form-control {
    width: 300px;
  }

  .name {
    text-align: unset;
  }

  .nameWrapper {
    text-align: center;
  }

  .details-toggle {
    margin-left: unset;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 400px) {

  .nameToggleLast {
    display: none;
  }

  /* .header {
    height: 70px;
  } */

  .burger-houser {
    margin-top: 0px;
  }

  .navMenu {
    flex-direction: column;

  }

  .email-screen {
    padding: 0;
  }

}

