* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgba(255, 255, 255, 0.863);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 1.8em;
    text-shadow: 0 0 35px rgba(4, 2, 78, 0.993);
    box-shadow: none;
}

a:focus {
  font-size: 1.8em;
    text-shadow: 0 0 35px rgba(4, 2, 78, 0.993);  
    box-shadow: none; 
    outline: none; 
}

a:visited {
  color: rgb(44, 43, 43);
}

.hidden {
  display: none;
}

.menuLink {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.menuLink:hover {
  font-size: 1.4em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  line-height: 400%;
  padding: 20px;
  align-items: center;
  margin-top: 0;
}

.moveWrapper {
  margin-top: 100px;
}

.navBanner {
  color: rgba(192, 192, 192, 0.726);
  position: relative;
  justify-content: center;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  padding: 20px; 
}

.navDiv {
  position: fixed;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  transition-duration: 1000ms;
}

.navMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cdc9c9db;
  left: 0;
  height: 100px;
  width: 100%;
  top: 0px;
  transition-duration: 1000ms;
  padding: 20px;
}

/* .navDiv:hover {
  top: 120px;
} */


.navLink {
  margin: 0% 4% 4% 4%; 
  width: 20%;
  font-size: 1.5em;
  transition-duration: 500ms;
  color: black;
}

li {
  border-bottom: solid 1px silver;
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  color: white;
  font-size: 2em;
  font-family: 'Plaster', cursive;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.687);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin-top: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.687);
  border-bottom: solid 1px rgba(0, 0, 0, 0.687);
}

.nameToggleLast {
  display: none;
}

.nameToggleInitial {
  display: none;
}

/******************************************************************************************************/

.navTab {
  border-radius: 12%;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.721);
  display: flex;
 justify-content: space-around;
 transform: rotate(45deg);
  transition-duration: 500ms;
}

.navTab:hover {
  background: white;
  transform: rotate(-45deg);
}

.navTab:hover > .burger-line {
  background: rgba(0, 0, 0, 0.721);
}

.navTabLabel {
  margin-top: 4px;
  display: none;
}


.tabCover:hover > .navTabLabel {
  display: block;
}

/******************************************************************************************************/

.about {
  height: 80vh;
  
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  border-bottom: solid 1px silver;
  margin-bottom: 80px;
  
}

.bio h1 {
  font-size: 3em;
}

.bioIntro {
  border-bottom: solid 1px silver;
}

.aboutMe {
  font-size: 1.2em;
  line-height: 200%;
}

.signa {
  font-weight: 700;
}


/******************************************************************************************************/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2em;
}

.contact-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
}

.contactCard {
  height: 80px;
}

.listingCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 15px black;
  padding: 12px;
  margin: 8px;
  width: 62%;
  min-width: 200px;
}

.contact-banner {
  font-size: 2em;
  text-decoration: underline;
}

.name {
  font-weight: 100;
  margin-top: 0;
}

/******************************************************************************************************/


.projectsWrapper { 
  height: unset;
  font-family: 'Quattrocento', serif;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  line-height: 250%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.projectCard {
  width: 90%;
  display: flex;
  justify-content: space-between;
  transition-duration: 500ms;
  margin-bottom: 100px;
}

.linksDiv {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 14px 14px 14px 0px;
}

.link {
  border-radius: 8px;
  padding: 4px 20px 4px 20px;
  box-shadow: 0 0 15px silver;
  transition-duration: 500ms;
  margin: 10px;
  color: black;
}

.link:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

.link:visited {
  color: rgb(44, 43, 43);
}

.mtb-img {
  max-height: 500px;
  max-width: 400px;
}

.graphics {
  max-width: 400px;
  max-height: 235px;
}

.rsvp-img {
  max-height: 500px;
  max-width: 500px;
}


/******************************************************************************************************/

@media only screen and (max-width: 1000px) {

  .project-wrapper {
    flex-direction: column;
  }

  .rsvp {
    flex-direction: column-reverse;
  }

  .contact-list {
    flex-direction: column;
  }

}


@media only screen and (max-width: 800px) {
  .name {
    text-align: center;
  }

  .nameLength {
      display: none;
  }

  .bio {
   text-align: center;
  }

}

@media only screen and (max-width: 650px) {

  

  .navMenu {
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  .navBanner {
    height: 160px;
  }

  .fullMenu { 
    display: flex;
    flex-direction: column;
    font-size: 100%;
    height: 100%;
    width: 90%;
    top: unset;
    align-items: center;
    justify-content: center;
    transition-duration: 1000ms;
  }

  .mtb-img {
    width: 100%;
  }

  .rsvp-img {
    width: 100%;
  }
 
}

@media only screen and (max-width: 600px) {

  .nameLengthLast {
    display: none;
  }
  .nameToggleLast {
    display: block;
  }

}

@media only screen and (max-width: 400px) {

  .nameToggleLast {
    display: none;
  }

  .nameToggleInitial {
    display: block;
  }

  .navMenu {
    flex-direction: column;

  }

}

