* {
  box-sizing: border-box;
  margin: 0;
}



body {
  background: rgba(255, 255, 255, 0.863);
}

a {
  text-decoration: none;
  color: black;
}

a:hover, button:hover {
  /* font-size: 1.8em; */
    text-shadow: 0 0 35px rgba(4, 2, 78, 0.993);
    box-shadow: none;
}

a:focus {
    text-shadow: 0 0 35px #046B99;  
    box-shadow: 0 0 15px #046B99 ;
}

a:visited {
  color: rgb(44, 43, 43);
}

p {
  max-width: 800px;
}

.hidden {
  display: none;
}

.menuLink {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.menuLink:hover {
  font-size: 1.4em;
}

.moveWrapper {
  margin-top: 100px;
}

.navBanner {
  color: rgba(192, 192, 192, 0.726);
  position: relative;
  justify-content: center;
  top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  padding: 20px; 
}

.navDiv {
  position: fixed;
  top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  transition-duration: 1000ms;
  background: #ffffffcf;
  box-shadow: 0 0 15px #484747c2 inset;
}

.navMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #eeecece6; */
  left: 0;
  height: 70px;
  width: 100%;
  top: 0px;
  transition-duration: 1000ms;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
}

.menu-selection-offset {
  height: 30%;
  display: none;
}

.burger-houser {
  background: #ffffffba;
  position: fixed;
  right: 0;
  top: 0;
  width: 70px; 
  height: 70px; 
  display: none; 
  flex-direction: column; 
  justify-content: space-around;
  border-radius: 50%;
  z-index: 2;
  margin-top: 10px;
}

.burger-patty {
  border: none;
  background: unset;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 1200ms;
}

.openNav {
  border-radius: 4%;
  background: none;
}

.patty-one {
  border-bottom: solid 8px rgba(4, 106, 153);
}

.patty-two {
  border-top: solid 8px rgba(4, 106, 153);
}

.patty-x-one {
  position: relative;
  border-radius: 4%;
  top: 12%;
  left: 15%;
  transform: rotate(45deg);
}

.patty-x-two {
  position: relative;
  border-radius: 4%;
  top: -12%;
  left: 15%;
  transform: rotate(-45deg)
}

.menu-label {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.navLink {
  width: 20%;
  font-size: 1.5em;
  transition-duration: 500ms;
  color: black;
  text-align: center;
}

.navLink:hover {
  font-size: 1.8em;
}

li {
  border-bottom: solid 1px silver;
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  color: white;
  font-size: 2.3em;
  font-family: 'Plaster', cursive;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.687);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin-top: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.687);
  border-bottom: solid 1px rgba(0, 0, 0, 0.687);
}

.nameToggleLast {
  display: none;
}

.nameToggleInitial {
  display: none;
}

/******************************************************************************************************/

.navTab {
  border-radius: 12%;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.721);
  display: flex;
 justify-content: space-around;
 transform: rotate(45deg);
  transition-duration: 500ms;
}

.navTab:hover {
  background: white;
  transform: rotate(-45deg);
}

.navTab:hover > .burger-line {
  background: rgba(0, 0, 0, 0.721);
}

.navTabLabel {
  margin-top: 4px;
  display: none;
}


.tabCover:hover > .navTabLabel {
  display: block;
}

/******************************************************************************************************/


.bio-section {
  display: flex;
  flex-direction: column;
  line-height: 400%;
  padding: 20px;
  align-items: center;
  margin-top: 0;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  border-bottom: solid 1px silver;
  margin-bottom: 80px;
  
}

.bio h1 {
  font-size: 3em;
}

.bioIntro {
  border-bottom: solid 1px silver;
}

.break {
  display: none;
}

.aboutMe {
  font-size: 1em;
  line-height: 200%;
  max-width: 800px;
}

.signa {
  font-weight: 700;
}


/******************************************************************************************************/

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2em;
  height: 300px;
}

.contact-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 70%;
}

.contactLink {
  color: black;
  font-size: 1em;
  font-weight: 700;
  display: unset;
  border: none;
  background: none;
  font-family: inherit;
}

.listingCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 15px black;
  margin: 8px;
  height: 80px;
  width: 62%;
  min-width: 200px;
}

.resume-name {
  display: unset;
}

.resume:hover .resume-name {
  display: none;
}

.resume-link {
  display: none;
}

.resume:hover .resume-link {
  display: unset;
}

.email-text {
  display: unset;
}

.email:hover .email-text {
  display: none;
}

.email-address {
  display: none; 
}

.email:hover .email-address {
  display: unset;
}

.contact-banner {
  font-size: 2em;
}

.name {
  font-weight: 100;
  margin-top: 0;
}

/******************************************************************************************************/


.projectsWrapper { 
  height: unset;
  font-family: 'Quattrocento', serif;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-details {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  line-height: 250%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.projectCard {
  width: 90%;
  display: flex;
  justify-content: space-around;
  transition-duration: 500ms;
  margin-bottom: 100px;
}

.linksDiv {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 14px 14px 14px 0px;
}

.link {
  border-radius: 8px;
  padding: 4px 20px 4px 20px;
  box-shadow: 0 0 15px silver;
  transition-duration: 500ms;
  margin: 10px;
  color: black;
  max-width: 800px
}

.link:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.517);
}

.link:visited {
  color: rgb(44, 43, 43);
}

.mtb-img {
  max-height: 500px;
  max-width: 400px;
}

.graphics {
  max-width: 400px;
  max-height: 235px;
}

.rsvp-img {
  max-height: 500px;
  max-width: 500px;
}

/******************************************************************************************************/

.ebox-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /*rgba(0, 0, 0, 0.5)*/
  z-index: 2;
  overflow: scroll;
  padding-bottom: 20px;
  overflow: auto;
}

.email-field {
  border: none;
}

.email-screen {
  width: 100%;
  height: 100%;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: 'Exo 2', sans-serif;
}

.form-input {
  background: white;
  color: black;
  height: 60px;
  width: 600px;
  font-size: 1em;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Exo 2', sans-serif;
}

.input-validation {
  height: 60px;
}

.input-validation-message {
  color: #787c80;
  width: 500px;
  height: 40px;
  /* display: none; */
  background: #fefe97;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus {
  box-shadow: 0 0 15px #046B99 inset;
  box-shadow: 0 0 15px #046B99;
  outline: none;
}

.fieldset-style {
  display: flex;
  flex-direction: column;
  color: silver;
  font-size: 1.4em;
  align-items: center;
  padding-top: 20px;
}

.fieldset-legend {
  width: 600px;
  font-family: 'Exo 2', sans-serif;
}

.form-control {
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.form-button {
  color: black;
  margin-top: 40px;
  width:  280px;
  padding-top: 15px;
}

.form-button:disabled {
  color: silver;
}

.message-body {
  height: 100px;
  resize: both;
}


.error {
  border: 2px solid red;
  box-shadow: 0 0 15px red;
}

.message-response {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-box {
  width: 70%;
  height: 60%;
  border-radius: 4px;
  padding: 25px;
  background: #ffffffd9;
  box-shadow: 0 0 15px rgb(143, 0, 0);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
}

.response-return {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: flex-end;
}

.message-box-inner-wrapper {
  height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.response-burger {
  position: relative;
  right: 0;
  top: 0;
  width: 70px; 
  height: 70px; 
  flex-direction: column; 
  justify-content: space-around;
  border-radius: 50%;
  z-index: 2;
}

.response-patty {
  border: solid 1px rgb(4, 106, 153);
  background: rgb(4, 106, 153);
  border-radius: 4px;
  height: 8px;
  z-index: 2;
  position: relative;
  transition-duration: 1200ms; 
}

.response-patty-one {
  top: 42%;
  transform: rotate(45deg);
}

.response-patty-two {
  top: 32%;
  transform: rotate(-45deg);
}

.response-burger:hover .response-patty-one, .response-burger:hover .response-patty-two {
  top: unset;
  left: unset;
  transform: none;
  border: none;
  background: unset;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
}

.response-burger:hover .response-patty-one {
  border-bottom: solid 8px rgba(4, 106, 153);
}

.response-burger:hover .response-patty-two {
  border-top: solid 8px rgba(4, 106, 153);
}

.mail-status-button {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  position: absolute;
  border: none;
  background: none;
  z-index:  3;
}

/******************************************************************************************************/

@media only screen and (max-width: 1300px) {
  p, .link {
    max-width: 500px;
  }
}

@media only screen and (max-width: 1200px) {

  .navMenu {
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 1000px) {

  .project-wrapper {
    flex-direction: column;
  }

  .rsvp {
    flex-direction: column-reverse;
  }

  .contact {
    height: 500px;
  }

  .contact-list {
    flex-direction: column;
    margin-top: 40px;
  }

}


@media only screen and (max-width: 800px) {
  .name {
    text-align: center;
  }

  .nameLength {
      display: none;
  }

  .form-control {
    justify-content: space-around;
    width: 500px;
  }

  .aboutMe {
    font-size: 1em;
    line-height: 200%;
    max-width: 400px;
  }

}




@media only screen and (max-width: 700px) {

  .form-input, .input-validation-message, .fieldset-legend {
    width: 500px;
  }

   /* {
    width: 500px;
  }

  .form-button {
    width: 200px;
  } */

}

@media only screen and (max-width: 650px) {

  .fullMenu { 
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    height: 100%;
    width: 90%;
    top: unset;
    align-items: center;
    justify-content: center;
    transition-duration: 1000/******************************************************************************************************/ms;
  }

  .mtb-img {
    width: 100%;
  }

  .rsvp-img {
    width: 100%;
  }
 
}

@media only screen and (max-width: 600px) {

  .navMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /*rgba(0, 0, 0, 0.5)*/
  z-index: 1;
  overflow: scroll;
  padding-bottom: 20px;
  flex-direction: column;
  overflow: auto;
  }

  .navLink {
    color: white;
  }

  .navLink:visited {
    color: white;
  }
  
  .navDiv {
    height: 0px;
  }

  .navLink {
    width: 100px;
    text-align: unset;
  }

  .menu-selection-offset {
    display: block;
  }
  
  .header {
    height: 0px;
  }

  .burger-houser {
    display: flex; 
  }

  .name {
    font-size: 1.1em;
}

.break {
  display: inline;
}

}

@media only screen and (max-width: 550px) {

  .form-control {
    flex-direction: column;
  }
/* 
  .nameWrapper {
    align-items: unset;
  } */
  
  .name {
    font-size: 1.1em;
  }

  .message-box {
    padding-top: 0;
    padding-right: 0;
  }

  .response-burger {
    width: 40px;
    height: 40px;
  }

  .response-patty-two {
    top: 20%;
  }
}

@media only screen and (max-width: 520px) {
  .form-input, .input-validation-message {
    width: 300px;
    font-size: .8em;
  }

  .fieldset-legend {
    width: 300px;
    margin: 10px;
  }

}

@media only screen and (max-width: 500px) {

  .fieldset-style {
    padding-top: unset;
  }

  .nameWrapper {
    align-items: unset;
  }

  .form-control {
    width: 300px;
  }

  .name {
    text-align: unset;
  }
}

@media only screen and (max-width: 400px) {

  .nameToggleLast {
    display: none;
  }

  .header {
    height: 70px;
  }

  .burger-houser {
    margin-top: 0px;
  }

  .navMenu {
    flex-direction: column;

  }

  .pitch {
    font-size: 1.2em;
  }

  .email-screen {
    padding: 0;
  }

}

